.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
.header {
    text-align: center;
}
.header h1 {
    color: #FFF;
    font-size: 5rem;
    margin-top: 7rem;
}
.footer {
    display: flex;
    justify-content: center;
}
.icons {
    margin-top: 2rem;
    display: grid;
    max-width: 20rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
}
@media (min-width: 768px) {
    .footer {
        justify-content: right;
    }
}
.icons img {
    max-width: 5rem;
}
